body {
  margin: 0;
  border: 0;
}
.menu {
  display: none;
}
@media only screen and (max-width: 767px) {
  /* Add your styles for small devices here */
  body {
    background-color: lightblue;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
}
@media only screen and (min-width: 992px) {
  body {
    background-color: rgb(255, 255, 255);
    color: #fffefe;
  }
  .sidebartogl {
    display: none;
  }
  .menu {
    display: block;
  }
}
